<div class="breadcrumb">
    {%- capture collection_breadcrumb -%}
    <nav class="breadcrumb breadcrumb--floating" aria-label="{{ 'general.breadcrumb.label' | t | escape }}">
      <ol class="breadcrumb__list unstyled-list">
        <li class="breadcrumb__list-item">
          <a href="{{ routes.root_url }}" class="mediumcaps {% unless show_image %}link-faded-reverse{% endunless %}">{{ 'general.breadcrumb.home' | t }}</a>
        </li>

        <li class="breadcrumb__list-item">
          <a href="{{ routes.all_products_collection_url }}" class="mediumcaps {% unless show_image %}link-faded-reverse{% endunless %}">{{ 'general.breadcrumb.shop' | t }}</a>
        </li>

        <li class="breadcrumb__list-item">
          <a href="{{ product.collections[0].url }}" aria-current="page" class="mediumcaps {% unless show_image %}link-faded-reverse{% endunless %}">{{ product.collections[0].title }}</a>
        </li>

        <li class="breadcrumb__list-item mediumcaps" style="color: rgb(var(--text-color) / .65);">
          {{ product.title }}{% if product.metafields.custom.collection %} {{ product.metafields.custom.collection }}{% endif %}
        </li>

      </ol>
    </nav>
{%- endcapture -%}

  
 <collection-banner {% if section.settings.reveal %}reveal-on-scroll="true"{% endif %} class="collection-banner color-scheme color-scheme--{{ section.settings.color_scheme.id }}" {% if section.settings.allow_transparent_header %}allow-transparent-header{% endif %}>
    {%- unless section.settings.allow_transparent_header -%}
      {{- collection_breadcrumb -}}
    {%- endunless -%}